.container{
    text-align: center;
    background-color: rgb(204, 23, 92);
    width: 100%; 
  color: white;
  
}
   #vehicle{
    text-align: center;
}
.container div{
    margin: 20px;
        padding: 20px;
        font-size: 30px;
        background-color: #141111;
        flex-direction:column;
}

h1{
  padding: 15px;
}


.card{
  text-align: center;
  background-image: linear-gradient(to left,rgb(91, 91, 74),rgb(216, 198, 159));
  color: white;
  font-size: 15px;
  margin: 5px;
  padding: 0px;
  height: 100px;
  width: 100%;
}

@media (max-width: 600px) {
  body {
      font-size: 14px; 
  }

  h1 {
      font-size: 20px; 
      margin-bottom: 10px; 
  }

  .container {
      padding: 10px; 
  }

  #vehicle {
      font-size: 16px; 
  }
  
}